body {
  font-family: RANSans !important;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  background-color: rgb(57, 19, 57);
  color: white;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

/* colors */
.color-darkpurple{color: rgb(57, 19, 57)!important;}
.color-purple{color: rgb(115, 38, 115)!important;}
.color-lightpurple{color: rgb(191, 64, 191)!important;}
.color-lighterpurple{color: rgb(210, 121, 210)!important;}

/* background colors */
.back-darkpurple {background-color: rgb(57, 19, 57)!important;}
.back-purple {background-color: rgb(115, 38, 115)!important;}
.back-lightpurple {background-color: rgb(191, 64, 191)!important;}
.back-lighterpurple {background-color: rgb(210, 121, 210)!important;}

.block{
  box-shadow: 1px 0px 15px -1px rgb(115, 38, 115);
  border-radius: 0.5rem;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.round {border-radius: 0.5rem;}

.pointer {cursor: pointer;}